@page "/"
@using SkiaSharp.Views.Blazor
@using SkiaSharp;
@inject IJSRuntime JsRuntime;

<PageTitle>Blazor Snow Simulator</PageTitle>
@* <PageTitle>C64 Christmas 1982 Tribute</PageTitle> *@

<div id="canvasHolder" style="position: fixed; width: 100%; height: 100%; left: 0; top:0;
    user-select: none;
    cursor: crosshair;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black">
    <SKCanvasView @ref="canvasView" id="canvasView" OnPaintSurface="PaintSurface" @onmousemove="(args)=>OnMouseMove(args)" @onclick="OnMouseClick" style="width:100%;height:100%" />
</div>

@* <img src="/C64.png" style="position:sticky; top:0;user-select: none" width="100" /> *@

<span style="position:sticky; top:0;user-select: none;float: right" @onclick="OnSwitch">❄️💧</span>
